<html lang="nl">
<head>
	<title>USBWebshop</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

<!-- start navigatie balk -->
<div class="jumbotron">
  <div class="container text-center">
    <h1>USBWebshop</h1>
    <p>Mission, Vision & Values</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
<!--      <a class="navbar-brand">Logo</a> -->
      <!-- <img src="/favicon.png" alt="HTML5 Icon" style="width:30px;height:30px;"> -->
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="{{ home }}"><a href="/">Home</a></li>
				{% if 'username' in session %}
          <li><a href="bestelhist">Bestelhistorie</a></li>
        {% endif %}
        <li class="{{ contact }}"><a href="contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if 'username' in session %}
          <li><a href="logout"><span class="glyphicon glyphicon-user"></span> Uitloggen</a></li>
        {% else: %}
          <li><a href="login"><span class="glyphicon glyphicon-user"></span> Inloggen</a></li>
        {% endif %}

        {% if 'winkelmandje' in session %}
				<li><a href="winkelmandje"><span class="glyphicon glyphicon-shopping-cart"></span> <sup style="color:#ffff00;font-weight:bold;vertical-align:super;">{{ session['totale_aantal'] }} </sup> Winkelmandje</a></li>
        {% else: %}
				<li><a href="leegwinkelmandje"><span class="glyphicon glyphicon-shopping-cart"></span> <sup style="color:#ffff00;font-weight:bold;vertical-align:super;">{{ session['totale_aantal'] }} </sup> Winkelmandje</a></li>
				{% endif %}
      </ul>
    </div>
  </div>
</nav>
<!-- einde navigatiebalk -->

{% block content %}{% endblock %}


<footer class="container-fluid text-center">
Copyright &copy; Divya Bhulai 2021
</footer>

</body>
</html>
